<div class="m-4">
    <h1>{{title}}</h1>
    <p>Here are some changes that you'd like to see.</p>
    <br>
    <div id="vizContainer" style="width:800px; height:700px;"></div>
</div>

<script src="/javascripts/visualizations.js" rel="script"></script>
